/*.play {*/
/*margin-top: 30px;*/
/*margin-left: 30px;*/
/*}*/
.play input, .play button {
    outline: hidden;
}

.playInfo table {
    padding-top: 50px;
    background-color: #2B2E33;
    opacity: 0.5;
    color: #b99423;
}

.play .operate {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #2B2E33;
    opacity: 0.5;
    /*color: #b99423;*/
    color: white;
}

.playInfo table tbody tr th, .playInfo table tbody tr td {
    font-size: larger;
    font-weight: bolder;
    opacity: 1;
    text-align: left;
    width: 15%;
}

.playInfo table tfoot tr td {
    color: white;
width: 5px;
}

.playInfo table tfoot tr td input, .playInfo table tfoot tr td button {
    border-radius:2px;
    outline-color: white;
    font-size: small;
    opacity: 1;
    color: #363636;
    background-color: white;
    border: hidden;
}

.play .operate {
    font-size: x-large;
    color: #3f4431;
    font-weight: bolder;
}

.play .operate input {
    margin-left: 10px;
    width: 20%;
    font-size: small;
}

.play .operate button {
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    width: 60px;
    background-color: #8A6343;
}

#myModal .modal-content, #modifyModal.modal-content {
    color: #b4aeab;
    width: 100%;
    left: 15%;
}

.play select, .play .input-group input {
    font-weight: bolder;
    background-color: #d5cecc;
    color: #86817f;
    margin-left: 10%;
    margin-top: 10px;
    width: 70%;
}

.play .tag {
    color: darkred;
    font-size: small;
}
