.playPlan table {
    color: #b99423;
    background-color: #2B2E33;
    opacity: 0.5;
    width: 100%;
}
.playPlan table th, .playPlan table td {
    line-height: 100%;
    font-weight: bolder;
    font-size: larger;
    width: 8%;
    text-align: left;
    opacity: 1;
}
.playPlan table tfoot input,.playPlan table tfoot button{
    border-radius:2px;
    outline-color: white;
    opacity: 1;
    color: #363636;
    background-color: white;
    border: hidden;
}

 .playPlan #myModal .modal-content, #modal.modal-content {
    color: #b4aeab;
    width: 100%;
    left: 15%;
}

 .playPlan select{
     font-weight: bolder;
     background-color: #d5cecc;
     color: #86817f;
     margin-left: 16%;
     margin-top:10px;
     width: 100%;
 }
.playPlan table tfoot td{
    font-size: small;
    color: white;
    width: 5px;
}
.playPlan .time {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #2B2E33;
    opacity: 0.5;
    color: white;
}

.playPlan .time button{
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    width: 120px;
    background-color: #8A6343;
}

.playPlan img{
    margin-right: 20px;
}

.playPlan .tag{
    color: darkred;
}