
.Schedule table th, .Schedule table td{
    width: 8%;
    text-align: center;
}
.ScheduleTableBody{
    border-bottom: solid 1px #7F7676;
}
.ScheduleTime{
    /*background-color:#5bc0de;*/
    /*opacity: 0.5;*/
    border-radius: 4px;
}