input[type=checkbox]{
    -webkit-appearance: none;
}

.studioId{
    font-size: xx-large;
}
.seatInfo{
    color: white;
}
.img-rounded{
    margin-left: 20px;
    margin-bottom: 10px;
}

#seatBorder{
    text-align: center;
}