
input:focus{
    color:black;
}

.studios {
    color: white;
    font-size: medium;
    margin-top: -2%;
}

th {
    text-align: center;
    width: 25%;
}

.th {
    text-align: center;
    width: 17%;
}

.footer-style{
    position: fixed;
    bottom: 0px;
    left:40%;
    color:white;
}

.content {
    float:right;
}

.token{
    float: right;
    font-size: large;
    margin-top: 1%;
    margin-right: 1%;
}
.addStudio input,.addStudio select{
    width: 100px;
    height: 34px;
}

.addStudio span{
    width: 40px;
}

.addStudio input,.addStudio button,.addStudio select{
    border: hidden;
    border-radius: 4px;
    margin-right: 18px;
}
