.table-style {
    color:white;
}

input:focus{
    color:black;
}

.studios {
    color: white;
    font-size: medium;
    margin-top: -1%;
}
.studioBody{
    border-bottom:solid 1px #7F7676 ;
}

.Studio{
    background: rgba(0,0,0,0.5);
}

th {
    text-align: center;
    width: 25%;
}

.th {
    text-align: center;
    width: 17%;
}

.footer-style{
    position: fixed;
    bottom: 3%;
    left:40%;
    color:white;
}

.content {
    float:right;
}

.token{
    float: right;
    font-size: large;
    color: white;
    margin-top: 1%;
    margin-right: 1%;
}
